<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @due_date.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @due_date.description %>
</p>

<p>
  <strong>Start:</strong>
  <%= @due_date.start %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @due_date.tags %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @due_date.frequency %>
</p>


<%= link_to 'Edit', edit_due_date_path(@due_date) %> |
<%= link_to 'Back', due_dates_path %>
